{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    {% if header %}
        <h2>{{ header }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% for listing in listings %}
    <div class="card card-index mt-3">
        <div class="container-fluid row">
            <div class="col-sm-3 mt-2 mb-2 text-center d-flex flex-column justify-content-center">
                {% if listing.image_url %}
                    <img class="flex-item card-img" src="{{ listing.image_url }}" alt="Image">
                {% else %}
                <img class="flex-item card-img" src="{% static 'auctions/no-image.png' %}" alt="No Image">
                {% endif %}
            </div>
            <div class="col-sm-9 mt-2 mb-2 d-flex flex-column justify-content-center">
                <a class="listing-link" href="{% url 'listing-detail' listing.id %}">
                    <h4 class="flex-item">
                        <strong>{{ listing.title }}</strong>
                    </h4>
                    <h5 class="flex-item"><strong>Price: </strong>${{ listing.current_price|floatformat:2 }}</h5>
                    <h5 class="flex-item">{{ listing.description }}</h5>
                    <p class="flex-item" style="color: grey;">Created {{ listing.created_at }}</p>
                </a>
            </div>
        </div>
            </a>
    </div>
    {% endfor %}

{% endblock %}
