@keyframes show-element {
	0% {
		opacity: 0;
		height: 0%;
		line-height: 0%;
		padding: 0px;
		margin-bottom: 0px;
	}

	15% {
		opacity: 0;
		height: 100%;
		line-height: 100%;
		padding: 20px;
		margin-bottom: 10px;
	}

	50% {
		opacity: 1;
		height: 100%;
		line-height: 100%;
		padding: 20px;
		margin-bottom: 10px;
	}

	90% {
		opacity: 0;
		height: 100%;
		line-height: 100%;
		padding: 20px;
		margin-bottom: 10px;
	}

	100% {
		opacity: 0;
		height: 0%;
		line-height: 0%;
		padding: 0px;
		margin-bottom: 0px;
	}
}

#alert-success {
	animation-name: show-element;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	padding: 20px;
	margin-bottom: 10px;
}

.newest-post {
	animation-name: show-element;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 0.5;
	padding: 20px;
	margin-bottom: 10px;
}

.post:hover {
	background: lightgrey;
	cursor: pointer;
}
