body {
    padding: 10px;
}

.card {
    max-width: 80%;
}

.card:hover {
    background-color: lightgrey;
}

.card-img {
    object-fit: contain;
    max-height: 200px;
}

.listing-img {
    max-height: 200px;
}

.owner-link {
    text-decoration: none;
}

.listing-link {
    text-decoration: none;
    color: black;
}
